header{
  background-color: orange;
  height: 50px;
}

body {
	height: 100%;
	width: 100%;
	max-width: 2000px;
}

h3{
	margin-top: 0px;
}

.navButton{
  text-decoration: none;
  font-size: 120%;
  color: black;
  padding: 0 1em;
  border-style: solid;
}

.navButton:hover{
  background-color: #39ff14;
}

footer {
	background-color: orange;
	bottom: 0px;
}
