/**==FARGER==
#F2F3F3 "Hvit" BLACK HAZE" LIGHT SHADES
#938EA7 "Lilla" "MANATEE" LIGHT ACCENT
#EF770B "Orange" "TANGO" MAIN COLOR
#B73E52 "Rosa" "NIGHT SHADZ" DARK ACCENT
#2D2B2F "Svart" "SHARK" DARK SHADES
============*/

/*
  ========================================
  BODY
  ========================================
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0 0 200px 0;
  /*padding bottom er samme h?yde som footer*/
  background-color: #F2F3F3;
  color: #2D2B2F;
  height: 100%;
}

img {
  max-height: 100%;
  max-width: 100%;
}

article {
  word-wrap: break-word;
}

/*========================================
  HEADER
  ========================================
*/

.logo {
  margin: 10px 0 20px 35px;
  width: 100px;
  position: absolute;
  left: 0;
}

nav {
  display: inline-block;
  position: relative;
  left: 100px;
}

header {
  position: fixed;
  background-color: #EF770B;
  display: block;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav a {
  color: white;
}

nav ul {
  display: inline-block;
  float: left;
  margin: 50px;
  padding: 0;
}

nav li {
  display: inline-block;
  float: left;
}

.navButton {
  text-decoration: none;
  margin: 0 10px 0 10px;
}

.navButton:hover {
  color: #B73E52;
}

.headerOffset {
  padding-top: 175px;
}

#imageTextBox
{
  padding: 25px 25px 25px 25px;
  border: 1px solid;
  opacity: 0.8;
}

#imageTextBox {
  background-color: #000000;
}

#imageTextBox h3 {
  color: #f3f3f3;
}

.bottom-left {
  position: absolute;
  bottom: 5%;
  left: 4%;
}

/*
  ========================================
  "Music" styling
  ========================================
*/

iframe {
  margin: 30px;
  border: 1px solid #B73E52;
}

.albumDisplay {
  border-bottom: 10px dotted #B73E52;
  margin-bottom: 10%;
}

.albumDisplay img {
  margin-top: 10px;
  display: inline-flex;
}

.albumDisplay article {
  text-transform: uppercase;
}

/*
  ========================================
  FOOTER
  ========================================
*/

footer {
  background-color: #EF770B;
  clear: both;
  text-align: center;
  font-size: 0.9em;
  height: 200px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

/*=============================*/

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
  ===================================
  MERCH CONTAINTER
  ===================================
*/

/**
 * the response grid system
 * designed for screens iwth a wiidth less
 * than 1200 pixels.
 * the
 */

.container, .grid {
  margin: 0 auto;
  /*width: 1200px;*/
  width: 100%;
}

.narrow {
  width: 600px;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.grid, .col-1-3, .col-2-3, .col-1-2, .col-1 {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1-3, .col-2-3, .col-1-2, .col-1 {
  display: inline-block;
  vertical-align: top;
}

.col-1-4 {
  width: 25%;
}

.col-1-3 {
  /*width: 33,33%;*/
  width: 100%;
}

.col-2-3 {
  /*width: 66,66%;*/
  width: 0.6fr;
}

.col-1-2 {
  /*width: 50%;*/
  width: 100%;
}

.col-1 {
  /*width: 100%;*/
  width: 1fr;
}

.center {
  margin: 0 auto;
  text-align: center;
}

/**
 * If the screen size is larger than 1200 pixels in width
 * use this grid layout.
 * this layout shows 2 items per row.
 * will most likely look really bad on ultrawide screens
 * and 4k monitors/TVs.
 */

@media screen and (min-width: 1200px) {
  .container, .grid {
    width: 1200px;
  }
  .col-1-3 {
    width: 33.33%;
  }
  .col-2-3 {
    width: 66.66%;
  }
  .col-1-2 {
    width: 50%;
  }
  .col-1 {
    width: 100%;
  }
  .narrow {
    width: 600px;
  }
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before, .group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  "Hjem" Styling
  ========================================
*/

#indexArticle {
  padding-top: 139px;
  padding-bottom: 0px;
  margin: auto;
}

/*
  ========================================
  "Om Oss" Styling
  ========================================
*/

.jumbotron img {}

#bandArticle {
  max-width: 900px;
  margin: auto;
}

#bandArticle p {
  margin-top: 5px;
  margin-bottom: 0;
}

#bandArticle img {
  max-width: 100%;
  height: auto;
}

#bandMemberContainer {
  width: 100%;
  background-color: #2D2B30;
  margin: 75px 0 0 0;
  padding: 50px 0 170px 0;
  background: linear-gradient(to right, #141619, #2D2B30);
}

#bandMemberContainer h1 {
  text-align: center;
  margin: 0;
  color: #F0770C;
  padding-top: 45px;
}

.bandMember {
  margin-top: 15px;
  display: inline-block;
  width: 20%;
  padding: 0 3px 0 3px;
}

.bandMember img {
  border-radius: 50%;
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.bandMember h2 {
  color: #F2F4F3;
  display: block;
  text-align: center;
  font-size: 25px;
}

.bandMember h2 a:link, a:visited {
  color: #F2F4F3;
  text-decoration: none;
  border: solid;
  border-radius: 5px;
  padding: 0 10px 5px 10px;
}

.bandMember a:hover {
  color: #B73D52;
}

#bandArticle {
  padding-top: 80px;
  max-width: 900px;
  margin: auto;
}

#bandArticle p {
  margin-top: 5px;
  margin-bottom: 0;
}

#bandArticle img {
  max-width: 100%;
  height: auto;
}

#bandMemberContainer {
  width: 100%;
  background-color: #2D2B30;
  margin: 75px 0 0 0;
  padding: 50px 0 170px 0;
  background: linear-gradient(to right, #141619, #2D2B30);
}

#bandMemberContainer h1 {
  text-align: center;
  margin: 0;
  color: #F0770C;
  padding-top: 45px;
}

.bandMember {
  margin-top: 15px;
  display: inline-block;
  width: 20%;
  padding: 0 3px 0 3px;
}

.bandMember img {
  border-radius: 50%;
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.bandMember h2 {
  color: #F2F4F3;
  display: block;
  text-align: center;
  font-size: 25px;
}

.bandMember h2 a:link, a:visited {
  color: #F2F4F3;
  text-decoration: none;
  border: solid;
  border-radius: 5px;
  padding: 0 10px 5px 10px;
}

.bandMember a:hover {
  color: #B73D52;
}

/*
========================================
"Merch" styling
========================================
*/

.merchItem {
  margin-top: 60px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  border-bottom: 10px dotted #B73E52;
}

.merchItem p {
  padding: 5px 0;
}

.merchItem a {
  text-decoration: none;
  color: #2D2B2F;
  border: solid #B73E52;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.price {
  font-size: 120%;
  font-weight: bold;
}

.merchItem {
  margin-top: 60px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  border-bottom: 10px dotted #B73E52;
}

.merchItem p {}

.merchItem a {
  text-decoration: none;
  color: #2D2B2F;
  border: solid #B73E52;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.price {
  font-size: 120%;
  font-weight: bold;
}

/*
  ========================================
  "Tour" styling
  ========================================
*/

#tourContainer {}

#concertContainers {
  width: 100%;
  margin: 0;
}

#concertContainers h1 {
  text-align: center;
  padding: 0;
  margin: 0;
}

#concertContainers p {
  text-align: center;
  padding: 0;
  margin-bottom: 75px;
}

.concertContainer {
  border-bottom: solid black;
  width: 100%;
  padding: 15px 0 15px 0;
  overflow: hidden;
  margin: auto;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #601f2a, #B73E52);
}

.concertContainer h2 {
  padding: 0;
  margin: 0;
  color: #F2F3F3;
  display: inline-block;
  float: left;
}

.concertContainer button {
  margin: 9px 0 9px 0;
  width: 150px;
  padding: 5px 0 5px;
  border-style: solid;
  border-radius: 5px;
  display: inline-block;
  float: left;
  background-color: Transparent;
  color: #F2F3F3;
}

.concertContainer button:hover {
  color: #B73E52;
  cursor: pointer;
}

/*
========================================
"Page-styling"
========================================
*/

.fresh {
  text-align: center;
  color: #B73E52;
}

.paddingTopBottom {
  padding: 45px 0 45px 0;
}

.paddingAll, .paddingAll img {
  padding: 45px;
}

.marginTop {
  margin: 45px;
}

/*
========================================
  "Kontakt" styling
========================================
*/

.row {
  width: 100%;
  background-color: #2D2B30;
  margin: 75px 0 0 0;
  padding: 80px 0 100px 0;
  background: linear-gradient(to right, #601f2a, #B73E52);
}

.lightText {
  color: #F2F3F3;
}

.coolList {
  border-left: 5px solid #EF770B;
  /*background-color: #2D2B2F;
opacity: 0.5;*/
  list-style-type: none;
  padding: 10px 20px;
}

/*
========================================
"AboutMe" styling
========================================
*/

#AboutMe {
  margin: auto;
  padding-top: 225px;
}

#AboutMe h2 {}

#AboutMe img {
  display: inline-block;
  float: left;
  width: 35%;
  margin-left: 10%;
  padding-bottom: 325px;
}

#AboutMe p {
  padding-top: 50px;
}

#AboutMe p, #AboutMe h2 {
  display: inline-block;
  float: left;
  width: 35%;
  margin-right: 10%;
  margin-left: 70px;
  text-align: left;
}