@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 110%;
}
/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.9rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.big{
  font-size: 3em;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}
h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}
h2 {
  font-size: 2.328rem;
  line-height: 3rem;
  margin-top: 1rem;
}
h3 {
  font-size: 1.414rem;
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}
/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
/* Code blocks */
code {
  vertical-align: bottom;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
  margin-top: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}

/*
  ========================================
  "Om Oss" Styling
  ========================================
*/
#bandMemberContainer h1, .fresh h1
{
  font-family: 'Permanent Marker', cursive;
}

.bandMember h2
{
  font-family: 'Open Sans', sans-serif;
}

/*
  ========================================
  "Nav" Styling
  ========================================
*/

.navButton
{
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
}

/*
  ======================================== 
  "Tour" Styling
  ========================================
*/

#concertContainers h1{
  font-size: 40px;
}

.concertContainer h2 {
  font-size: 20px;
  font-weight: normal;
}

.concertContainer button {
  font-size: 20px;
  font-weight: normal;
}